#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content{
    position: relative;
    z-index: 100;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}